body {
  font-family: 'Poppins', sans-serif;
  cursor: url('key.svg'), auto;
}

.start {
  height: 150px;
  width: 150px;
  /* background-image: url("Property 1=Default.svg"); */
  background-image: url("Closed Tresure Box Default.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.start:hover {
  /* background-image: url("Property 1=Hover.svg"); */
  background-image: url("Closed Tresure Box Hover.svg");
  transition-delay: 1ms;
}

.topic {
  transition: border 0.1s;
  width: 150px;
}

.topic:hover {
  /* border: 3px solid #00778C; */
  /* border-radius: 50%; */
  cursor: pointer;
}

.topic-heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.titles {
  color: white;
  font-family: poppins;
  font-weight: bold;
}

.titles div {
  height: 100%;
  background-color: white;
  border-radius: 3px;
  border: 1px solid grey;
}

.titles ul {
  padding: 0;
  margin-bottom: 0px;
  margin-top: 16px;
}

.titles ul li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-weight: normal;
  text-align: start;
  text-align: center;
  transition: font-size 0.5s;
  /* color: grey; */
  color: #545759;
  height: 100%;
}

.titles ul li:hover {
  font-size: 25px;
  cursor: pointer;
}

.workethics {
  background-color: #00778c;
}

.competition {
  background-color: #7e705f;
}

.needsandgoals {
  background-color: #6eb9c4;
}

.sharpattitude {
  background-color: #7e705f;
}

.outcome {
  background-color: #00778c;
}

.type {
  background-color: #9d9182;
}

/* Rotating animation START */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

/* Rotating animation END */

/* Floating START */
.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
/* Floating END */