.start {
  height: 100px;
  width: 100px;
  background-image: url("Property 1=Default.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.start:hover {
  background-image: url("Property 1=Hover.svg");
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titles {
  color: white;
  font-family: poppins;
  font-weight: bold;
}

.titles ul li {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  font-weight: normal;
  text-align: start;
}

.workethics {
  background-color: #00778c;
}

.competition {
  background-color: #7e705f;
}

.needsandgoals {
  background-color: #6eb9c4;
}

.sharpattitude {
  background-color: #7e705f;
}

.outcome {
  background-color: #00778c;
}

.type {
  background-color: #9d9182;
}
